link(rel='stylesheet', href='/stylesheets/styleStarter.css')

div.starter-template
    Title : "#{title}#;

    div.fx
        h1 Bruno Devesa Stories
        p.fx2 Site under construction











