link(rel='stylesheet', href='/stylesheets/styleStarter.css')
.starter-template
    Title : "#{title}#;

    div.fx
        h1 Bruno Devesa Stories
        p Site under construction!..


//        - var photo = "img(src='./images/photo1.jpg')"
            //  img(src="./images/photo1.jpg", alt ="MyPhoto"










