.starter-template
    Title : "#{title}#;
    .jumbotron.startJumbo
        .container.start
            h1.lead Bruno Devesa Stories
            - var photo = "img(src='./images/photo1.jpg')"
                //  img(src="./images/photo1.jpg", alt ="MyPhoto"
            p Site under construction!..


        style.
            .lead {
                 color: black;
                -webkit-transition: color 3s;
                background-image: image('./images/photo1.jpg');
                background-image: image('photo');
            }

            .lead:hover {
                color: olive;
                -webkit-transition: color 3s;
            }






