
.fx {
    /*outline: #193119 solid thin;*/
    border-radius: 5px;

    transition: 4s ease;
    /*background-image: url("../images/photo0.jpg");*/
    background: url("../images/photo8.jpg") no-repeat center center fixed;
    background-size: 1200px;

    padding: 50px;
}

.fx:hover {
    /*outline: #193119 solid thin*/
    border-radius : 5px;;
    transition: 4s ease;
    background: url("../images/photo7.jpg") no-repeat center center fixed;
    background-size: 1200px;
    background-position: 80%;

    color: olivedrab;
    padding: 50px;

}
