/*.starter-template {*/
/*transition-delay: 2s;*/
/*outline: #001F00 solid thin;*/
/*border-radius: 5px;*/
/*transition: 4s ease;*/
/*background: url("../images/photoAbout.jpg") no-repeat center center fixed;*/
/*background-size: 1200px;*/
/*padding: 110px;*/
/*}*/

/*.starter-template:first-child {*/
/*outline: #001F00 solid thin border-radius : 5 px;;*/
/*transition: 5s ease;*/
/*background: url("../images/photoAbout.jpg") no-repeat center center fixed;*/
/*background-size: 1200px;*/
/*background-position: 80%;*/
/*position: relative;*/
/*padding: 110px;*/
/*}*/

.starter-template {
    width: 1150px;
    height: 250px;
    outline: #001F00 solid thin;
    /*#001F00*/
    background: url("../images/photoAbout.jpg") no-repeat center center;
    /*background-size: 900px 300px;*/
    padding: 110px position : relative;
    animation: 35s ease pulse;
    -webkit-animation: 35s ease pulse;
    -moz-animation: 35s ease pulse;
    -o-animation: 35s ease pulse;
    animation-fill-mode: forwards

}

@keyframes pulse {
    /*0% { width: 0px; height: 300px; }*/
    /*100% { width: 1150px; height: 300px; }*/

    0% {
        opacity: 0;
        width: 0px;
        height: 250px;
    }

    100% {
        /*opacity: 100;*/
        width: 1150px;
        height: 250px;
    }
}

.aboutText {
    outline: #001F00 solid thin border-radius : 5 px;;
}

.fx {
    position: relative;
    -Webkit-animation-name: moveForward;
    -Webkit-animation-duration: 75s;
    animation-fill-mode: forwards
}

@keyframes moveForward {
    /*0%   {left:0px; top:0px;}*/
    /*25%  { left:50px; top:0px;}*/
    /*50%  { left:100px; top:0px;}*/
    /*75%  { left:150px; top:0px;}*/
    /*50% { left:200px; top:0px;}*/
    /*100% { left:250px; top:0px;}*/
    from {
        left: 0px
    }
    to {
        left: 230px
    }
}

.fx2 {
    text-align: left;
    position: relative;
    -Webkit-animation-name: changeColor;
    -Webkit-animation-duration: 25s;
    animation-fill-mode: forwards
}

@keyframes changeColor {
    from {
        color: black;
    }
    to {
        color: darkgrey;
    }
}

.aboutText{
    padding: 20px;
    width: 1150px;
    height: 250px;
    outline: black solid thin;
}